body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    overflow: hidden;
}

.App {
    text-align: center;
}

.App-header {
    color: white;
}

.inline {
    display: inline-block;
}
.item {
    position: absolute;
    cursor: move;
    user-select: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding: 16px;
    display: inline-block;
    min-height: 150px;
    width: 200px;
    margin: 16px;
}
.item>h2 {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-bottom: 0.35em;
    color: #1976d2;
}

.item>p {
    text-align: left;
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.6);
}
.item button.delete {
    float: right;
}
